<div class="container">
  <div id="header" class="row">
    <div class="span12">
      <ul class="nav-right-top">
        <li><%= link_to "首页", '#' %></li>
        <li class="active"><%= link_to "登录", signin_path %></li>
      </ul>
    </div>
  </div>
</div>