<h1>我的评审</h1>


<table>
 <thead>
<th>状态</th>
<th>标题</th>
<th>被评审人</th>
<th>评审时间</th>
<th>评审结果</th>
  </thead>
  <tbody>
  <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.status %></td>
        <td><%= picture.status %></td>

      <%end%>
  </tbody>


</table>

