<div class="span3">
<ul class="nav nav-list">
  <!-- 下面每个li对应一个页面，具体是哪一个页面，把对象的li加上class＝"set"即可 -->
  <!-- i的class代表图标，如icon1,icon2等，只需求根据需要选用即可，可选值1－12 -->
  <li class="nav-header">评审系统</li>
  <li><a href="./inspect"><i class="cus-icon7"></i>审图</a></li>
  <li><a href="./inspection"><i class="cus-icon7"></i>评审结果</a></li>
  <li><a href="./myinspect"><i class="cus-icon2"></i>我的评审</a></li>
  <li><a href="./convention"><i class="cus-icon9"></i>囧百公约</a></li>
  <li><a href="./committee"><i class="cus-icon11"></i>囧百委员会</a></li>
  <li><a href="./exposure"><i class="cus-icon6"></i>违规用户公示</a></li>

</ul>
</div>